body {
  background-image:url("../png/background.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;

}

p{
  padding-top: 16px;
  color:#f9f9f9;
  font-size:20px
}
img{
  height: 300px;
  weight:300px;
  margin-left: 10px;
}
